@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');



/*
.milky{
    position: absolute;
    opacity:0.2;
    width:1000px;
    height: 100%;
}
*/
.hh{
    position: absolute;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-shadow:5px 5px 3px rgba(13, 83, 51, 0.637);
    color: rgb(209, 177, 209);
}

body{
    /*
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(12, 7, 54);
    */
   
    
    background: #207cca; 
    background: -moz-linear-gradient(top,  #207cca 0%, #28c7d6 26%, #28c7d6 29%, #28c7d6 30%, #28c7d6 30%, #7db9e8 72%, #db8cd9 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #207cca 0%,#28c7d6 26%,#28c7d6 29%,#28c7d6 30%,#28c7d6 30%,#7db9e8 72%,#db8cd9 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #207cca 0%,#28c7d6 26%,#28c7d6 29%,#28c7d6 30%,#28c7d6 30%,#7db9e8 72%,#db8cd9 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    

    display: flex;
    justify-content: center;
    align-items: center;
    /*font-family: consolas;*/
}

.con{
    font-family: 'Indie Flower', cursive;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

/*
.con .sq{
    position: relative;
    cursor: pointer;
}
*/

.sq .f{
    width: 300px;
    height: 200px;
    transition-duration: 0.8s;
}

.con .sq .f.f1{
    position: relative;
    /*background-color: #7a7a7a;*/
    background-color: rgb(72, 101, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 50px 50px 50px 50px;
}

.con .sq:hover .f.f1{
    background-color: rgba(255, 102, 196, 0.718);
    transform: translateY(0);
}

.con .sq .f.f1 .content{
    opacity: 0.3;
    transition: 0.8s;
}

.con .sq:hover .f.f1 .content{
    opacity: 1;
}

.con .sq .f.f1 .content img{
    max-width: 100px;
}

.con .sq .f.f1 .content h2{
    /*
    margin: 10px 0 0;
    */
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    
}

.con .sq .f.f2{
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(15, 6, 6, 0.788);
    transform: translateY(-100px);
    border-radius: 50px 50px 50px 50px;
    text-decoration: none;
}

.con .sq:hover .f.f2{
    transform: translateY(0);
    text-decoration: none;
}

/*
.so{
    
}
*/

.con .sq .f.f2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    font-weight: 900;
    color: #e987cc;
    padding: 5px;
    text-decoration: none;
    
}

.sq .f.f2 .content a:hover{
    background: rgba(65, 67, 177, 0.596);
    color: #fff;
    transition: 1.5s;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    text-decoration: none;
}

/*
.mar{

}
*/
